<h1 id = 'tester'>Add your questions with the template below.  
At least two answers are required.</h1>
  
<h5 *ngIf = "this._quiz.error">
Make sure to select the correct answer before continuing to the next question.  
</h5>
  
<form (ngSubmit) = "this._quiz.showData()" #questionMaker = "ngForm">
<div class = "question">
<h2>Question</h2>
<input type = "text" [(ngModel)] = "this._quiz.question" name = "question" required>
</div>
  
<div class = "answerArea">
<h2 class = "test">Answers</h2>
<input type = "radio" [(ngModel)] = "this._quiz.selected" name = "selected" value = {{this._quiz.answer.choice1}}>
<input type = "text"  [(ngModel)] = "this._quiz.answer.choice1" name = "choice1" required>
<input type = "radio" [(ngModel)] = "this._quiz.selected" name = "selected" value = {{this._quiz.answer.choice2}}>
<input type = "text" [(ngModel)] = "this._quiz.answer.choice2" name = "choice2" required>
<input type = "radio" [(ngModel)] = "this._quiz.selected" name = "selected" value = {{this._quiz.answer.choice3}}>
<input type = "text" [(ngModel)] = "this._quiz.answer.choice3" name = "choice3">
<input type = "radio" [(ngModel)] = "this._quiz.selected" name = "selected" value = {{this._quiz.answer.choice4}}>
<input type = "text" [(ngModel)] = "this._quiz.answer.choice4" name = "choice4">
</div>
  
  <div class = 'buttonContainer'>
<div class = 'buttonLeft' (click)="sendPlaces('makeCSS2')">Back</div>
<button type = "submit" [disabled] = "!questionMaker.form.valid" class = 'buttonLeft'>Add</button>
<div class = 'buttonLeft' (click)="sendPlaces('reviewQuestions')">Review</div>
  </div>
</form>