<h1>Adjust the Style</h1>
<div>
<div class = "toggleBox"> 
<div class = 'toggleBG' [ngStyle] = "this.backDiv(this.color1, this.color2)" (click) = "this.toggleStyle(true)">BG</div>
<div class = 'toggleText' [ngStyle] = "this.backDiv(this.color2, this.color1)" (click) = "this.toggleStyle(false)">Text</div>
</div>
</div>
  
<h3 class = "test" [ngStyle]="_data.setStyle('question')">How do I refer back to my color choices?</h3>
  
<h4 class = "answerArea" [ngStyle]="_data.setStyle('answer')">
<div class = "sampleAnswers">
Background for question area: 
({{this._data.backgroundQuestionRed.value}}, 
{{this._data.backgroundQuestionGreen.value}}, 
{{this._data.backgroundQuestionBlue.value}}).
</div>
<div class = "sampleAnswers">
Font for question area: 
({{this._data.fontQuestionRed.value}}, 
{{this._data.fontQuestionGreen.value}}, 
{{this._data.fontQuestionBlue.value}}).
</div>
<div class = "sampleAnswers">
Background for answer area: 
({{this._data.backgroundAnswerRed.value}}, 
{{this._data.backgroundAnswerGreen.value}}, 
{{this._data.backgroundAnswerBlue.value}}).</div>
<div class = "sampleAnswers">
Background for question area: 
({{this._data.fontAnswerRed.value}}, 
{{this._data.fontAnswerGreen.value}}, 
{{this._data.fontAnswerBlue.value}}).
</div></h4>
  
<!--Question Area Background-->
<div [hidden] = "!this.isActive">
<h2>Question Area Background</h2>
<div id = 'sliders'>
<h3>Sliders</h3>
<div class = 'sliderContainer'>
<div class = 'redLabel'>Red: {{this._data.backgroundAnswerRed.value}}</div>
<input type="range" id = 'range1' name = "range1" min="0" max="255"  
class = 'redSlider' value = {{this._data.backgroundAnswerRed.value}}
[ngStyle]="this.sliderDiv(this._data.backgroundAnswerRed.value, 'red')">
</div>
<div class = 'sliderContainer'>
<div class = 'greenLabel'>Green: {{this._data.backgroundAnswerGreen.value}}</div>
<input type="range" id = 'range2' name = "range2" min="0" max="255"  
class = 'greenSlider' value = {{this._data.backgroundAnswerGreen.value}}
[ngStyle]="this.sliderDiv(this._data.backgroundAnswerGreen.value, 'green')">
</div>
<div class = 'sliderContainer'>
<div class = 'blueLabel'>Blue: {{this._data.backgroundAnswerBlue.value}}</div>
<input type="range" id = 'range3' name = "range3" min="0" max="255"  
class = 'blueSlider' value = {{this._data.backgroundAnswerBlue.value}}
[ngStyle]="this.sliderDiv(this._data.backgroundAnswerBlue.value, 'blue')">
</div>
</div>
<div id = 'manualContainer'>
<h3>Manual Entry</h3>
  
<label class = 'red' name = 'rgbInput1'>Red:</label>
<input class = 'redInput' type = 'text' value = {{this._data.backgroundAnswerRed.value}}>
<label class = 'green' name = 'rgbInput3'>Green:</label>
<input class = 'greenInput' type = 'text' value = {{this._data.backgroundAnswerGreen.value}}>
<label class = 'blue' name = 'rgbInput2'>Blue:</label>
<input class = 'blueInput' type = 'text' value = {{this._data.backgroundAnswerBlue.value}}>
<div class = 'manualButton' [ngStyle] = "this._data.setStyle('answer')" 
(click) = "this._data.adjustColorRGB(this._data.backgroundAnswerRed, this._data.backgroundAnswerGreen, this._data.backgroundAnswerBlue, 'question')">Set Color</div>
<div class = 'separator'> OR </div>
<label class = 'hex' name = 'hexToRGB'>Insert Hex:</label> 
<input [ngStyle] = "this.hexInput()" type = 'text' [(ngModel)] = 'this._data.currentHex'>
<div class = 'hexButton' [ngStyle] = "this._data.setStyle('answer')" (click) = "this._data.rgbConvert(this._data.currentHex, this._data.backgroundAnswerRed, this._data.backgroundAnswerGreen, this._data.backgroundAnswerBlue)">Set Color
</div>
</div>
</div>
  
<!--Question Area Text Color-->
<div [hidden] = "this.isActive">
<h2>Question Area Text</h2>
<div id = 'sliders'>
<h3>Sliders</h3>
<div class = 'sliderContainer'>
<div class = 'redLabel'>Red: {{this._data.fontAnswerRed.value}}</div>
<input type="range" id = 'range4' name = "range1" min="0" max="255"  
class = 'redSlider' value = {{this._data.fontAnswerRed.value}}
[ngStyle]="this.sliderDiv(this._data.fontAnswerRed.value, 'red')">
</div>
<div class = 'sliderContainer'>
<div class = 'greenLabel'>Green: {{this._data.fontAnswerGreen.value}}</div>
<input type="range" id = 'range5' name = "range2" min="0" max="255"  
class = 'greenSlider' value = {{this._data.fontAnswerGreen.value}}
[ngStyle]="this.sliderDiv(this._data.fontAnswerGreen.value, 'green')">
</div>
<div class = 'sliderContainer'>
<div class = 'blueLabel'>Blue: {{this._data.fontAnswerBlue.value}}</div>
<input type="range" id = 'range6' name = "range3" min="0" max="255"  
class = 'blueSlider' value = {{this._data.fontAnswerBlue.value}}
[ngStyle]="this.sliderDiv(this._data.fontAnswerBlue.value, 'blue')">
</div>
</div>
<div id = 'manualContainer'>
<h3>Manual Entry</h3>
  
<label class = 'red' name = 'rgbInput1'>Red:</label>
<input class = 'redInput' type = 'text' value = {{this._data.fontAnswerRed.value}}>
<label class = 'green' name = 'rgbInput3'>Green:</label>
<input class = 'greenInput' type = 'text' value = {{this._data.fontAnswerGreen.value}}>
<label class = 'blue' name = 'rgbInput2'>Blue:</label>
<input class = 'blueInput' type = 'text' value = {{this._data.fontAnswerBlue.value}}>
<div class = 'manualButton' [ngStyle] = "_data.setStyle('answer')" 
(click) = "this._data.adjustColorRGB(this._data.fontAnswerRed, this._data.fontAnswerGreen, this._data.fontAnswerBlue, 'answer')">Set Color</div>
<div class = 'separator'> OR </div>
<label class = 'hex' name = 'hexToRGB'>Insert Hex:</label> 
<input [ngStyle] = "this.hexInput()" type = 'text' [(ngModel)] = 'this._data.currentHex'>
<div class = 'hexButton' [ngStyle] = "_data.setStyle('answer')" (click) = "this._data.rgbConvert(this._data.currentHex, this._data.fontAnswerRed, this._data.fontAnswerGreen, this._data.fontAnswerBlue)">Set Color
</div>
</div>
</div>
  
<div class = 'button' (click) = "sendPlaces('questionairre')">Continue </div>
